*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

p,
body {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  color: #000;
}

h1 {
  margin: 20px 0;
}
h3 {
  margin: 0 0 10px;
}

label,
input {
  cursor: pointer;
}

input[type='checkbox'] {
  margin-left: 8px;
}

ul {
  text-align: left;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.employees,
.employees-birthday {
  width: 50%;
  position: relative;
  margin-bottom: 30px;
}

.employees::before {
  content: '';
  position: absolute;
  right: 0;
  height: 80%;
  width: 1px;
  background-color: #8e8e8e;
  top: 4%;
}

.employees::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 80%;
  background-color: #8e8e8e;
  left: 10%;
}

.sorting-employees {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 10px;
}

.section-letter {
  width: max-content;
  min-width: 100px;
  margin: 0 20px 20px 0;
  text-align: left;
}
